<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="usuario-receptor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h1 class="h3 mb-3 font-weight-normal">¡Hola {{first_name}} {{last_name}}!</h1>
    <h1 class="h3 mb-3 font-weight-normal">Estas registrado con tu email {{email}}</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuarioReceptor extends Polymer.Element {
      static get is() { return 'usuario-receptor'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }
        };
      }
    }

    window.customElements.define(UsuarioReceptor.is, UsuarioReceptor);
  </script>
</dom-module>
