<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="usuario-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <iron-ajax auto
    id="getUser"
    url="{{apiBaseUrl}}/apiproyecto/v1/users/{{userid}}"
    handle-as="json"
    headers='{{headers}}'
    on-response="manageAJAXResponse"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsuarioEmisor extends Polymer.Element {
      static get is() { return 'usuario-emisor'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, headers: {
            type: Object,
            computed: 'getHeaders()'
          }
        };
      }

      getHeaders() {
        return {'authorization': sessionStorage.getItem("token")}
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "userevent",
            {
                "detail" : {
                  "first_name" : data.detail.response.first_name,
                  "last_name" : data.detail.response.last_name,
                  "email" : data.detail.response.email
                }
            }
          )
        )
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

        this.dispatchEvent(
          new CustomEvent(
            "errorevent",
            {
              "detail" : {
                "status" : error.detail.request.__data.status
              }
            }
          )
        )
      }

    }

    window.customElements.define(UsuarioEmisor.is, UsuarioEmisor);
  </script>
</dom-module>
