<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="fact-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <iron-ajax auto
    id="getFact"
    url="{{apiBaseUrl}}/apiproyecto/v1/facts?animal_type={{animal}}"
    handle-as="json"
    on-response="manageAJAXResponse"
    />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FactEmisor extends Polymer.Element {
      static get is() { return 'fact-emisor'; }
      static get properties() {
        return {
          apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, animal: {
            type: String,
            value: 'horse'
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "factevent",
            {
                "detail" : {
                  "fact" : data.detail.response.fact
                }
            }
          )
        )
      }

    }

    window.customElements.define(FactEmisor.is, FactEmisor);
  </script>
</dom-module>
