<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="row">
      <div class="col-md-8">
        <label for="inputFirstName">Nombre</label>
        <input type="text" id="inputFirstName" class="form-control" value="{{first_name::input}}" autofocus>
      </div>
      <div class="col-md-8">
        <label for="inputLastName">Apellido</label>
        <input type="text" id="inputLastName" class="form-control" value="{{last_name::input}}">
        <div class="row">
          <div class="col-md-6">
            <label for="inputEmail">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="email" id="inputEmail" class="form-control" placeholder="direccion@dominio.com" value="{{email::input}}">
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" class="form-control" value="{{password::input}}">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <small class="text-muted">{{info}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <hr class="mb-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block" on-click="add">Aceptar</button>
      </div>
      <div class="col-md-6"></div>
    </div>

    <iron-ajax
      id="postUser"
      url="{{apiBaseUrl}}/apiproyecto/v1/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageUserAJAXResponse"
      on-error="showError"
    />

    <iron-ajax
      id="doLogin"
      url="{{apiBaseUrl}}/apiproyecto/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageLoginAJAXResponse"
      on-error="showError"
    />

    <iron-ajax
      id="postAccount"
      url="{{apiBaseUrl}}/apiproyecto/v1/users/{{user_id}}/accounts"
      handle-as="json"
      method="POST"
      on-response="manageAccountAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuarioEmisor extends Polymer.Element {
      static get is() { return 'alta-usuario-emisor'; }
      static get properties() {
        return {
          info: {
            type: String,
            value: 'Rellene todos los datos para continuar'
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, user_id: {
            type: String
          }, token: {
            type: String
          }
        };
      }

      add(e) {
        console.log("Se ha pulsado Aceptar");

        if ((this.first_name) && (this.last_name) && (this.email) && (this.password)){

          var postData = {
            "first_name" : this.first_name,
            "last_name" : this.last_name,
            "email" : this.email,
            "password" : this.password
          }

          this.$.postUser.body = JSON.stringify(postData);
          this.$.postUser.generateRequest();

          console.log("Petición enviada");
        }
      }

      manageUserAJAXResponse(data) {
        console.log("Llegaron los resultados del post del usuario");
        console.log(data.detail.response);

        this.user_id = data.detail.response.idUsuario;

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

        this.info = "Se ha producido un error, vuelva a intentarlo más tarde";
      }

      manageLoginAJAXResponse(data) {
        console.log("Llegaron los resultados del login");
        console.log(data.detail.response);

        this.token = data.detail.response.token;

        this.$.postAccount.headers = {'authorization': this.token}
        this.$.postAccount.generateRequest();

        console.log("Petición enviada");
      }

      manageAccountAJAXResponse(data) {
        console.log("Llegaron los resultados del post de la cuenta");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "addevent",
            {
              "detail" : {
                "user_id" : this.user_id,
                "token" : this.token
              }
            }
          )
        )
      }

    }

    window.customElements.define(AltaUsuarioEmisor.is, AltaUsuarioEmisor);
  </script>
</dom-module>
