<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-receptor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="row">
      <div class="col-6"><span><a class="text-dark">IBAN</a></span></div>
      <div class="col-6"><span><a class="text-dark">Saldo</a></span></div>
    </div>
    <template is="dom-repeat" items="{{accounts}}">
      <div class="row">
        <div class="col-8 mb-1 text-muted"><span>{{item.IBAN}}</span></div>
        <div class="col-3 mb-1 text-muted"><span>{{item.balance}}</span></div>
        <div class="col-1">
          <button type="submit" class="btn btn-primary btn-lg"value="{{item.account_id}}" on-click="movements">Movimientos &raquo;</button>
        </div>
      </div>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasReceptor extends Polymer.Element {
      static get is() { return 'cuentas-receptor'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          }
        };
      }

      movements(e) {
        console.log("Se ha pulsado Movimientos");

        this.dispatchEvent(
          new CustomEvent(
            "movementevent",
            {
                "detail" : {
                  "account_id" : e.model.get("item.account_id")
                }
            }
          )
        )
      }
    }

    window.customElements.define(CuentasReceptor.is, CuentasReceptor);
  </script>
</dom-module>
