<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../fact-emisor/fact-emisor.html">
<link rel="import" href="../fact-receptor/fact-receptor.html">

<dom-module id="visor-fact">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <fact-emisor on-factevent="processEvent"></fact-emisor>
    <fact-receptor id="receiver"></fact-receptor>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorFact extends Polymer.Element {
      static get is() { return 'visor-fact'; }
      static get properties() {
        return {};
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        this.$.receiver.fact = e.detail.fact;
      }
    }

    window.customElements.define(VisorFact.is, VisorFact);
  </script>
</dom-module>
