<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimientos-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <button type="submit" class="btn btn-primary btn-lg card-img-right flex-auto d-none d-lg-block my-2" on-click="all">
      Ver todos
    </button>

    <iron-ajax auto
    id="getMovements"
    url="{{apiBaseUrl}}/apiproyecto/v1/users/{{userid}}/accounts/{{accountid}}/movements?top={{top}}"
    handle-as="json"
    headers='{{headers}}'
    on-response="manageAJAXResponse"
    on-error="showError"
    />

    <iron-ajax
    id="getAllMovements"
    url="{{apiBaseUrl}}/apiproyecto/v1/users/{{userid}}/accounts/{{accountid}}/movements"
    handle-as="json"
    headers='{{headers}}'
    on-response="manageAJAXResponse"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosEmisor extends Polymer.Element {
      static get is() { return 'movimientos-emisor'; }
      static get properties() {
        return {
          apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, userid: {
            type: Number
          }, accountid: {
            type: Number
          }, headers: {
            type: Object,
            computed: 'getHeaders()'
          }, top: {
            type: Number,
            value: 6
          }
        };
      }

      getHeaders() {
        return {'authorization': sessionStorage.getItem("token")}
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        var formattedDate;

        for (var arrayId in data.detail.response) {
          formattedDate = new Date(data.detail.response[arrayId].date);
          data.detail.response[arrayId].formattedDate = formattedDate.toDateString();
        }

        this.dispatchEvent(
          new CustomEvent(
            "movementevent",
            {
                "detail" : {
                  "movements" : data.detail.response
                }
            }
          )
        )
      }

      showError(error) {
        console.log("Ha habido un error o cuenta sin movimientos");
        console.log(error);

        if (error.detail.request.__data.status == 500) {
          this.dispatchEvent(
            new CustomEvent(
              "errorevent", {}
            )
          )
        }
      }

      all(e) {
        console.log("Se ha pulsado Ver todos");

        this.$.getAllMovements.generateRequest();
      }

    }

    window.customElements.define(MovimientosEmisor.is, MovimientosEmisor);
  </script>
</dom-module>
