<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../movimientos-emisor/movimientos-emisor.html">
<link rel="import" href="../movimientos-receptor/movimientos-receptor.html">
<link rel="import" href="../visor-dia/visor-dia.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container">
      <header class="blog-header py-3">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <img class="mr-3" src="https://s3-eu-west-1.amazonaws.com/techuiap/horse+logo+20181130.jpeg" alt="" width="60" height="60">
          <h5 class="my-0 mr-md-auto font-weight-normal">Balikun</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" on-click="back">Atrás</button>
            </div>
          </div>
        </div>
      </header>
      <div class="row mb-2">
        <div class="col-md-12">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column">
              <strong class="d-inline-block mb-2 text-primary">Movimientos</strong>
              <h3 class="mb-0">
                <movimientos-receptor id="receiver"></movimientos-receptor>
                <section class="text-center">
                  <div class="container">
                    <p>
                      <movimientos-emisor userid={{userid}} accountid={{accountid}} on-movementevent="processEvent" on-errorevent="processError">
                      </movimientos-emisor>
                      <button type="submit" class="btn btn-primary btn-lg card-img-right flex-auto d-none d-lg-block my-2" on-click="new">
                        Alta movimiento
                      </button>
                    </p>
                  </div>
                </section>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <visor-dia></visor-dia>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accountid: {
            type: Number
          }
        };
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        this.$.receiver.movements = e.detail.movements;
      }

      processError(e) {
        console.log("Capturado evento del emisor");
        console.log(e);

        window.location = "dashboard/" + this.userid;
      }

      new(e) {
        console.log("Se ha pulsado Alta Movimiento");

        window.location = "/user/" + this.userid + "/account/" + this.accountid + "/movement";
      }

      back(e) {
        console.log("Se ha pulsado Atrás");

        window.location = "/dashboard/" + this.userid;
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
