<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="col-md-4 order-md-1">
      <h1 class="h3 mb-3 font-weight-normal">Acceso</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" value="{{email::input}}" autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" value="{{password::input}}">
      <div class="col-md-10 mb-3">
        <small class="text-muted">{{info}}</small>
      </div>
      <hr class="mb-4">
      <button type="submit" class="btn btn-lg btn-primary btn-block" on-click="login">Login</button>
    </div>

    <iron-ajax
      id="doLogin"
      url="{{apiBaseUrl}}/apiproyecto/v1/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginEmisor extends Polymer.Element {
      static get is() { return 'login-emisor'; }
      static get properties() {
        return {
          email: {
            type: String
          }, password: {
            type: String
          }, info: {
            type: String,
            value: 'Rellene email y password para acceder'
          }, apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }
        };
      }

      login(e) {
        console.log("Se ha pulsado Login");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "loginevent",
            {
                "detail" : {
                  "user_id" : data.detail.response.idUsuario,
                  "token" : data.detail.response.token
                }
            }
          )
        )
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

        this.info = (error.detail.request.__data.status == 401) ?
          "Email o password incorrecto" : "Error de conexión";
      }

    }

    window.customElements.define(LoginEmisor.is, LoginEmisor);
  </script>
</dom-module>
