<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="row">
      <div class="col-4">
        <label for="selectType">Tipo</label>
        <select id="selectType" class="custom-select d-block w-100" value="{{type::change}}" autofocus>
          <option value="">Seleccione...</option>
          <option value="ingreso">Ingreso</option>
          <option value="reintegro">Reintegro</option>
        </select>
      </div>
      <div class="col-4">
        <label for="inputAmountUnsigned">Importe</label>
        <input type="number" id="inputAmountUnsigned" class="form-control" value="{{amount_unsigned::input}}">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <small class="text-muted">{{info}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <hr class="mb-4">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-lg btn-primary btn-block" on-click="add">Aceptar</button>
      </div>
      <div class="col-md-6"></div>
    </div>

    <iron-ajax
      id="postMovement"
      url="{{apiBaseUrl}}/apiproyecto/v1/users/{{userid}}/accounts/{{accountid}}/movements"
      handle-as="json"
      content-type="application/json"
      method="POST"
      headers='{{headers}}'
      on-response="managePostAJAXResponse"
      on-error="showError"
    />

    <iron-ajax
      id="patchAccount"
      url="{{apiBaseUrl}}/apiproyecto/v1/users/{{userid}}/accounts/{{accountid}}"
      handle-as="json"
      content-type="application/json"
      method="PATCH"
      headers='{{headers}}'
      on-response="managePatchAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimientoEmisor extends Polymer.Element {
      static get is() { return 'alta-movimiento-emisor'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accountid: {
            type: Number
          }, type: {
            type: String
          }, amount_unsigned: {
            type: Number
          }, info : {
            type: String,
            value: 'Seleccione tipo de movimiento e importe'
          }, amount: {
            type: Number
          }, apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, headers: {
            type: Object,
            computed: 'getHeaders()'
          }
        };
      }

      add(e) {
        console.log("Se ha pulsado Aceptar");

        if ((this.type) && (this.amount_unsigned) && (this.amount_unsigned != 0)){
          console.log("Rellenos campos obligatorios");

          this.amount = (this.type == "ingreso") ?
            Number(this.amount_unsigned) : -this.amount_unsigned;

          var postData = {
            "amount" : this.amount
          };

          this.$.postMovement.body = JSON.stringify(postData);
          this.$.postMovement.generateRequest();

          console.log("Petición enviada");
        }
      }

      getHeaders() {
        return {'authorization': sessionStorage.getItem("token")}
      }

      managePostAJAXResponse(data) {
        console.log("Llegaron los resultados del post");
        console.log(data.detail.response);

        var patchData = {
          "amount" : this.amount
        };

        this.$.patchAccount.body = JSON.stringify(patchData);
        this.$.patchAccount.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

        this.info = "Se ha producido un error, vuelva a intentarlo más tarde";
      }

      managePatchAJAXResponse(data) {
        console.log("Llegaron los resultados del patch");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "addevent", {}
          )
        )
      }

    }

    window.customElements.define(AltaMovimientoEmisor.is, AltaMovimientoEmisor);
  </script>
</dom-module>
