<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../cuentas-emisor/cuentas-emisor.html">
<link rel="import" href="../cuentas-receptor/cuentas-receptor.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">Cuentas</strong>
            <h3 class="mb-0">
              <cuentas-receptor id="receiver" on-movementevent="processMovementEvent"></cuentas-receptor>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <cuentas-emisor userid={{userid}} on-accountevent="processAccountEvent"></cuentas-emisor>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }
        };
      }

      processAccountEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        this.$.receiver.accounts = e.detail.accounts;
      }

      processMovementEvent(e) {
        console.log("Capturado evento del botón Movimientos");
        console.log(e);
        console.log(e.detail);

        window.location = "/user/" + this.userid + "/account/" + e.detail.account_id;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
