<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../usuario-emisor/usuario-emisor.html">
<link rel="import" href="../usuario-receptor/usuario-receptor.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <usuario-emisor userid={{userid}} on-userevent="processEvent" on-errorevent="processError"></usuario-emisor>
    <usuario-receptor id="receiver"></usuario-receptor>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }
        };
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        this.$.receiver.first_name = e.detail.first_name;
        this.$.receiver.last_name = e.detail.last_name;
        this.$.receiver.email = e.detail.email;
      }

      processError(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        if (e.detail.status == "404") {
          this.dispatchEvent(
            new CustomEvent(
              "errorevent", {}
            )
          )
        }
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
