<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuentas-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <iron-ajax auto
    id="getAccounts"
    url="{{apiBaseUrl}}/apiproyecto/v1/users/{{userid}}/accounts"
    handle-as="json"
    headers='{{headers}}'
    on-response="manageAJAXResponse"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasEmisor extends Polymer.Element {
      static get is() { return 'cuentas-emisor'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, headers: {
            type: Object,
            computed: 'getHeaders()'
          }
        };
      }

      getHeaders() {
        return {'authorization': sessionStorage.getItem("token")}
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "accountevent",
            {
                "detail" : {
                  "accounts" : data.detail.response
                }
            }
          )
        )
      }

      showError(error) {
        console.log("Ha habido un error o usuario sin cuentas");
        console.log(error);
      }

    }

    window.customElements.define(CuentasEmisor.is, CuentasEmisor);
  </script>
</dom-module>
