<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../alta-usuario-emisor/alta-usuario-emisor.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container">
      <header class="blog-header py-3">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <img class="mr-3" src="https://s3-eu-west-1.amazonaws.com/techuiap/horse+logo+20181130.jpeg" alt="" width="60" height="60">
          <h5 class="my-0 mr-md-auto font-weight-normal">Bienvenido a Banco Balikun</h5>
        </div>
      </header>
      <div class="container">
        <h1>Cuenta sin comisiones para nuevos clientes</h1>
        <alta-usuario-emisor on-addevent="processEvent"></alta-usuario-emisor>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {};
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        sessionStorage.setItem("token", e.detail.token);

        window.location = "dashboard/" + e.detail.user_id;
      }
    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
