<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../logout-emisor/logout-emisor.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <logout-emisor userid={{userid}} on-logoutevent="processEvent" on-errorevent="processError"></logout-emisor>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          userid : {
            type : Number
          }
        };
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);

        window.location = "/login";
      }

      processError(e) {
        console.log("Capturado evento del emisor");
        console.log(e);

        if (e.detail.status == 404) {
          window.location = "/login"
        }
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
