<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-fact/visor-fact.html">

<dom-module id="visor-dashboard">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container">
      <header class="blog-header py-3">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <img class="mr-3" src="https://s3-eu-west-1.amazonaws.com/techuiap/horse+logo+20181130.jpeg" alt="" width="60" height="60">
          <h5 class="my-0 mr-md-auto font-weight-normal">Balikun</h5>
          <logout-usuario userid={{userid}}></logout-usuario>
        </div>
      </header>
      <visor-usuario userid={{userid}} on-errorevent="processError"></visor-usuario>
      <visor-cuentas userid={{userid}}></visor-cuentas>
    </div>
    <visor-fact></visor-fact>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorDashboard extends Polymer.Element {
      static get is() { return 'visor-dashboard'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }
        };
      }

      processError(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        window.location = "/login";
      }

    }

    window.customElements.define(VisorDashboard.is, VisorDashboard);
  </script>
</dom-module>
