<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary" on-click="logout">Logout</button>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogout"
      url="{{apiBaseUrl}}/apiproyecto/v1/logout/{{userid}}"
      handle-as="json"
      method="POST"
      headers='{{headers}}'
      on-response="manageAJAXResponse"
      on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutEmisor extends Polymer.Element {
      static get is() { return 'logout-emisor'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, apiBaseUrl: {
            type: String,
            value: Polymer.apiBaseUrl
          }, headers: {
            type: Object,
            computed: 'getHeaders()'
          }
        };
      }

      logout(e) {
        console.log("Se ha pulsado Logout");

        this.$.doLogout.generateRequest();

        console.log("Petición enviada");
      }

      getHeaders() {
        return {'authorization': sessionStorage.getItem("token")}
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "logoutevent", {}
          )
        )
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);

        this.dispatchEvent(
          new CustomEvent(
            "errorevent",
            {
              "detail" : {
                "status" : error.detail.request.__data.status
              }
            }
          )
        )
      }

    }

    window.customElements.define(LogoutEmisor.is, LogoutEmisor);
  </script>
</dom-module>
