<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="dia-emisor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <iron-ajax auto
    id="getDay"
    url="https://api.sunrise-sunset.org/json?lat={{lat}}&lng={{lng}}"
    handle-as="json"
    on-response="manageAJAXResponse"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DiaEmisor extends Polymer.Element {
      static get is() { return 'dia-emisor'; }
      static get properties() {
        return {
          lat: {
            type: Number,
            value: 40.4167321
          }, lng: {
            type: Number,
            value: -3.7054809
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response);

        this.dispatchEvent(
          new CustomEvent(
            "dayevent",
            {
                "detail" : {
                  "sunrise" : data.detail.response.results.sunrise,
                  "sunset" : data.detail.response.results.sunset
                }
            }
          )
        )
      }

    }

    window.customElements.define(DiaEmisor.is, DiaEmisor);
  </script>
</dom-module>
