<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../dia-emisor/dia-emisor.html">
<link rel="import" href="../dia-receptor/dia-receptor.html">

<dom-module id="visor-dia">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <dia-emisor on-dayevent="processEvent">Dia emisor</dia-emisor>
    <dia-receptor id="receiver"></dia-receptor>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorDia extends Polymer.Element {
      static get is() { return 'visor-dia'; }
      static get properties() {
        return {};
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);

        this.$.receiver.sunrise = e.detail.sunrise;
        this.$.receiver.sunset = e.detail.sunset;
      }
    }

    window.customElements.define(VisorDia.is, VisorDia);
  </script>
</dom-module>
