<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../alta-movimiento-emisor/alta-movimiento-emisor.html">

<dom-module id="alta-movimiento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="container">
      <header class="blog-header py-3">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <img class="mr-3" src="https://s3-eu-west-1.amazonaws.com/techuiap/horse+logo+20181130.jpeg" alt="" width="60" height="60">
          <h5 class="my-0 mr-md-auto font-weight-normal">Balikun</h5>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" on-click="back">Atrás</button>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
        <h1>Alta de movimientos</h1>
        <alta-movimiento-emisor userid={{userid}} accountid={{accountid}} on-addevent="processEvent"></alta-movimiento-emisor>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaMovimiento extends Polymer.Element {
      static get is() { return 'alta-movimiento'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, accountid: {
            type: Number
          }
        };
      }

      processEvent(e) {
        console.log("Capturado evento del emisor");
        console.log(e);

        window.location = "/user/" + this.userid + "/account/" + this.accountid;
      }

      back(e) {
        console.log("Se ha pulsado Atrás");

        window.location = "/user/" + this.userid + "/account/" + this.accountid;
      }
    }

    window.customElements.define(AltaMovimiento.is, AltaMovimiento);
  </script>
</dom-module>
