<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="fact-receptor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <div class="navbar-brand mr-auto mr-lg-0">Curiosidad del día sobre caballos:</div>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="nav-link">{{fact}}<span class="sr-only">(current)</span></div>
          </li>
        </ul>
      </div>
    </nav>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FactReceptor extends Polymer.Element {
      static get is() { return 'fact-receptor'; }
      static get properties() {
        return {
          fact: {
            type: String
          }
        };
      }
    }

    window.customElements.define(FactReceptor.is, FactReceptor);
  </script>
</dom-module>
