<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dia-receptor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <div class="navbar-brand mr-auto mr-lg-0">Hoy en España amanece a las {{sunrise}} y anochece a {{sunset}}</div>
      <p class="media-body pb-1 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">Información proporcionada por</strong>
        <a href="https://sunrise-sunset.org/api">https://sunrise-sunset.org/api</a>
      </p>
    </nav>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DiaReceptor extends Polymer.Element {
      static get is() { return 'dia-receptor'; }
      static get properties() {
        return {
          sunrise: {
            type: Date
          }, sunset: {
            type: Date
          }
        };
      }
    }

    window.customElements.define(DiaReceptor.is, DiaReceptor);
  </script>
</dom-module>
