<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-receptor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div class="row mb-2">
      <div class="col-3"><span><a class="text-dark">Fecha</a></span></div>
      <div class="col-9"><span><a class="text-dark">Importe</a></span></div>
    </div>
    <template is="dom-repeat" items="{{movements}}">
      <div class="row mb-2">
        <div class="col-3 mb-1 text-muted"><span>{{item.formattedDate}}</span></div>
        <div class="col-9 mb-1 text-muted"><span>{{item.amount}}</span></div>
      </div>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosReceptor extends Polymer.Element {
      static get is() { return 'movimientos-receptor'; }
      static get properties() {
        return {
          movements: {
            type: Array
          }
        };
      }
    }

    window.customElements.define(MovimientosReceptor.is, MovimientosReceptor);
  </script>
</dom-module>
